.successStatus{
    background-color: #13C774;
    padding: 2px 5px;
    display: inline-block;
    width: 85px !important;
    text-align: center;
    color: #1f2d3d !important;
    font-size: 0.8rem;
    border-radius: 10px;
    vertical-align: middle !important;
    color: #fff !important;
    margin-bottom: 10px;
}

.errorStatus{
    background-color: #C21A3D;
    padding: 2px 5px;
    display: inline-block;
    width: 85px !important;
    text-align: center;
    color: #1f2d3d !important;
    font-size: 0.8rem;
    border-radius: 10px;
    vertical-align: middle !important;
    color: #fff !important;
    margin-right: 5px;
    margin-bottom: 10px;
}

.errorMessage{
    background-color: rgb(243, 245, 247);
    padding: 10px;
    font-family: monospace !important;
    color: rgb(194, 26, 61);
    width: 100% !important;
    font-size: 13px !important;
}

.lineThrough{
    text-decoration: line-through !important;
}

.dataSubmitted{
    background-color: #E8F5E9;
    padding: 7px;
    color: #103713;
    width: auto !important;
    font-size: 14px !important;
    border-radius: 5px;
}

.imported{
    border: solid 1px #4CAF50;
    background-color: #F4FBF4;
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 3px;
}

.updated{
    border: solid 1px #4CAF50;
    background-color: #F4FBF4;
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 3px;
}

.ignored{
    border: solid 1px #D5DDE5;
    background-color: #FBFCFD;
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 3px;
}

.moreDetails{
    border: solid 1px #A0ADBA;
    background-color: #F9FAFB;
    padding: 7px;
    color: #103713;
    width: 120px !important;
    font-size: 14px !important;
    border-radius: 3px;
    margin-top: 25px;
    cursor: pointer;
}
