.containerInit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
    width: 100%;
}

.paperInit{
    padding: 35px;
    width: 50%;
}

.paperInit ul li {
    padding: 10px;
}

.paperInit h2{
    color: #2C6693;
}

.paperInit span{
    color: #E05050;
    margin-left: 10px;
}